#parent{  
  color: white;
  background-color: #0074d9;
  position: relative; 
  border-radius: 5px; 
  width: 85%;
  margin: 0 auto;
  width: 300px;
  height: 600px;
  box-shadow: 11px 7px 32px 5px rgba(0,0,0,0.36);
   -webkit-box-shadow: 11px 7px 32px 5px rgba(0,0,0,0.36);
   -moz-box-shadow: 11px 7px 32px 5px rgba(0,0,0,0.36);
  position: relative;
  border:1px solid rgb(119, 107, 107);
  display:block;
  text-align:center;  
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height:50px;
  background:#4CAF50;  
  padding: 10px; /*Abstand zum oberen Rand */   
  display: flex;
  justify-content: center;
  font-size: 5vh;  
  font-weight: bolder;
}
   
.nav {
  height:25px;
  background: rgb(119, 107, 107);         
  font-size: 2.1vh;
}
  
.body {
  background:#f2f2f2;
  height:450px;
} 
  
.weather {
  background:rgb(119, 107, 107);         
  height:30px;
  font-size: 1.8vh;
}
 
h2 {    
  width: 80%;
  display: block;
  margin-top: auto;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;  
  font-size: 3vh;  
  color: rgb(119, 107, 107);  
}
 
h3 {    
  width: 80%;
  display: block;
  margin-top: auto;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;    
  font-size: 3vh;  
  color: rgb(119, 107, 107);  
}
 
a {  
  color: white;  
  text-decoration: none;
}
  
input.weather {
  width: 70%;
  background-color: rgb(119, 107, 107);         
  display: inline-block;
  border: 0px solid white;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 1.8vh; 
  color:white;
  direction: rtl;
}

label {    
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;  
  color: green;
  width:max-content;
}

button {
  width: 80%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7vh;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
}

input {
  width: 80%;
  padding: 15px 32px;
  margin: 4px 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 2.5vh;  
}

input.klein {
  width: 80%;
  padding: 15px 32px;
  margin: 4px 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1vh;  
}

select {
  width: 80%;
  padding: 15px 32px;
  margin: 4px 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 2.5vh;  
}

select.iban {
  width: 80%;
  padding: 15px 32px;
  margin: 4px 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.2vh;  
}

p{
  color: black;
}